@inherits LayoutComponentBase
    <div class="row" style="margin-top:50px;">
        <div class="col-md-12">
            <div class="container container-fluid" style="width:500px">
                <div class="wrap p-l-55 p-r-55 p-t-80 p-b-30">
                    <div class="card">
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links mt-3">
                            </div>
                            <div class="titulologin text-center mt-3">Log In</div>
                            <div class="card-body">
                                @Body
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>